/target
/lib
/classes
/checkouts
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/bin/
/.classpath
/.project
/.settings/
/_build/
/_checkouts/
rebar.lock
