{clje_src_dirs, ["src/main/clojure"]}.
{clje_test_dirs, ["src/test/clojure"]}.

{ deps
, [ {clojerl, ".*", {git, "https://github.com/jfacorro/clojerl.git", {branch, "master"}}}
  ]
}.

{ plugins
, [{'rebar3_clojerl', ".*", {git, "https://github.com/clojerl/rebar3_clojerl", {branch, "0.4.0"}}}]
}.

{ profiles,
  [ { dev
    , [ { deps
        , [{eflame, ".*", {git, "https://github.com/jfacorro/eflame", {branch, "various.improvements"}}}]
        }
      ]
    }
  ]
}.
